name: Plugin Build
on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Release Tag'
        required: true
        type: string

jobs:
  create:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Release
        run: |
          gh release create ${{ github.event.inputs.release_tag }} --title "Release ${{ github.event.inputs.release_tag }}" \
          --notes "Action auto release" --draft
        env:
          GH_TOKEN: ${{ github.token }}

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    permissions:
      contents: write
    needs: create

    steps:
      # Check-out repository
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install Dependencies
        run: |
          pnpm install
          pnpm install -g @vue/cli

      - name: Build
        run: |
          npm run build_panel
          npm run zip
          npm run zip:firefox

      - name: Release
        run: |
          gh release upload ${{ github.event.inputs.release_tag }} ./.output/*.zip
        env:
          GH_TOKEN: ${{ github.token }}
